@media only screen and (max-width: 567px) {


    @font-face {
        font-family: "Poppins";
        src: url('/font/poppins/Poppins-Regular.ttf');
    }

    $color-secondary : #8E8E8E;
    $color-primary : #ff7a57;
    $color-primary-shadow : #ffb09c;
    $color-primary-2 : #fefcfc;
    $color-dark : #3B3B3B;
    $color-dark-shadow : #999999;
    $color-gray : #f3f3f3;
    $color-super-dark : #313335;


    html {
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .landing-page {
        color: $color-dark;
        font-family: 'Poppins';

        nav {
            height: 80px;
            width: 100%;
            background-color: white;
            box-shadow: 0px 0px 32px rgba($color: #000000, $alpha: 0.05);
            display: flex;
            justify-content: center;
            position: fixed;
            z-index: 999;

            .content {
                width: 85%;
                height: 100%;
                display: flex;

                .logo {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    img {
                        width: 120px;
                    }
                }

                .menu {
                    margin-left: auto;
                    max-width: 700px;
                    width: 80%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    ul {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        a {
                            text-decoration: none;
                            color: $color-dark;

                            li {
                                list-style-type: none;
                                font-size: 16px;
                                font-weight: 500;
                                letter-spacing: 1px;
                            }
                        }

                        a.active {
                            color: $color-primary;
                        }

                        a:hover {
                            color: $color-primary;
                            transition: 100ms;
                        }
                    }
                }

                .btn-menu {
                    width: 50%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                .menu-mobile {
                    display: none;
                }

                .menu-mobile.active {
                    display: block;
                    position: fixed;
                    z-index: 999;
                    top: 80px;
                    left: 0;
                    width: 100%;
                    box-shadow: 0px 0px 32px rgba($color: #000000, $alpha: 0.05);
                    padding-bottom: 20px;
                    background-color: white;

                    ul {

                        a {
                            list-style: none;
                            text-decoration: none;

                            li {
                                height: 55px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: white;
                                color: $color-dark;
                                // padding-left: 10%;
                            }
                        }

                        a.active {

                            li {
                                background-color: $color-primary;
                                color: white;
                                transition: 300ms;
                            }
                        }

                        a:hover {

                            li {
                                background-color: $color-primary;
                                color: white;
                                transition: 300ms;
                            }
                        }
                    }
                }
            }

        }

        .home {
            width: 100%;
            padding-top: 150px;
            background-color: $color-primary-2;
            display: flex;
            justify-content: center;

            .content {
                width: 85%;
                height: 100%;

                .content-top {
                    display: flex;
                    flex-direction: column;
                    // height: 100%;

                    .top-left {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;

                        .inner {
                            width: 100%;

                            h5 {
                                font-size: 18px;
                                font-weight: normal;
                            }

                            h1 {
                                font-size: 45px;
                                font-weight: bolder;
                                width: 100%;
                                margin-bottom: 10px;
                            }

                            h4 {
                                font-size: 22px;
                                font-weight: normal;
                                margin-bottom: 30px;
                            }

                            .action {
                                margin-bottom: 70px;
                                display: flex;
                                // flex-direction: column;
                                align-items: center;

                                button {
                                    padding: 15px 20px 15px 20px;
                                    border-radius: 40px;
                                    border: none;
                                    margin-right: 3%;
                                    width: 100%;
                                    font-weight: bold;
                                }

                                .hire-me {
                                    color: white;
                                    // margin-bottom: 20px;
                                    cursor: pointer;
                                    border: 1px solid transparent;
                                    background-color: $color-primary;
                                    box-shadow: 0px 10px 10px 0px rgba($color: $color-primary-shadow, $alpha: 0.5);
                                }

                                .hire-me:hover {
                                    border: 1px solid rgba($color: $color-primary, $alpha: 1);
                                    box-shadow: 0px 00px 00px 0px rgba($color: $color-dark-shadow, $alpha: 0.5);
                                    background-color: white;
                                    color: $color-primary;
                                    transition: 300ms;
                                }

                                .download {
                                    color: white;
                                    cursor: pointer;
                                    border: 1px solid transparent;
                                    background-color: $color-dark;
                                    box-shadow: 0px 10px 10px 0px rgba($color: $color-dark-shadow, $alpha: 0.5);
                                }

                                .download:hover {
                                    border: 1px solid rgba($color: $color-dark, $alpha: 1);
                                    box-shadow: 0px 00px 00px 0px rgba($color: $color-dark-shadow, $alpha: 0.5);
                                    background-color: white;
                                    color: $color-dark;
                                    transition: 300ms;
                                }
                            }

                            .sosial-media {
                                display: flex;
                                width: 100%;
                                justify-content: space-around;

                                .circle {
                                    width: 35px;
                                    height: 35px;
                                    border-radius: 100%;
                                    border: 1px solid $color-dark;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    cursor: pointer;

                                    .icon-dark {
                                        display: block;
                                    }

                                    .icon-white {
                                        display: none;
                                    }
                                }

                                .circle:hover {
                                    background-color: $color-dark;
                                    box-shadow: 0px 10px 10px 0px rgba($color: $color-dark-shadow, $alpha: 0.5);
                                    transition: 200ms;

                                    .icon-dark {
                                        display: none;
                                    }

                                    .icon-white {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }

                    .top-right {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        img {
                            width: 100%;
                        }
                    }
                }

                .content-bottom {
                    height: 100px;
                    display: flex;
                    justify-content: center;

                    .card {
                        width: 720px;
                        height: auto;
                        background-color: white;
                        box-shadow: 0px 0px 32px 1px rgba($color: $color-dark, $alpha: 0.07);
                        border-radius: 250px;
                        display: flex;
                        align-items: center;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        position: relative;
                        border: 2px solid transparent;
                        top: -50px;
                        cursor: pointer;

                        h2 {
                            font-size: 28px;
                            font-weight: bold;
                        }

                        h6 {
                            font-weight: 16px;
                        }

                        .card-left {
                            width: 33%;
                            text-align: center;
                        }

                        .line {
                            height: 50px;
                            width: 1px;
                            background-color: rgba($color: $color-dark, $alpha: 0.1);
                        }

                        .card-center {
                            text-align: center;
                            width: 34%;
                        }

                        .card-right {
                            text-align: center;
                            width: 33%;
                        }
                    }

                    .card:hover {

                        div:hover {
                            transition: 300ms;
                            color: $color-primary;
                        }
                    }

                }
            }
        }

        .upto-now {
            background-color: $color-gray;
            width: 100%;
            display: flex;
            justify-content: center;

            .card-mobile {
                width: 85%;

                h2 {
                    font-size: 34px;
                    font-weight: bold;
                }

                h6 {
                    font-weight: 16px;
                }

                div {
                    height: 120px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .about {
            padding-top: 110px;
            padding-bottom: 110px;
            width: 100%;
            display: flex;
            justify-content: center;

            .content {
                width: 85%;
                height: 100%;

                .content-head {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 80px;

                    h5 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    h3 {
                        font-size: 28px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    p {
                        line-height: 28px;
                        width: 100%;
                    }
                }

                .content-body {
                    display: flex;
                    flex-direction: column;

                    .body-left {
                        width: 100%;
                        margin-bottom: 50px;

                        .frame {
                            border: 10px solid $color-primary;
                            width: 270px;
                            height: 290px;
                            position: relative;
                            left: 20px;
                            top: 20px;

                            img {
                                position: relative;
                                left: -30px;
                                top: -40px;
                                width: 280px;
                                height: 310px;
                                transition: 300ms;
                                cursor: pointer;
                            }

                            img:hover {
                                width: 310px;
                                height: 340px;
                                transition: 300ms;
                            }
                        }
                    }

                    .body-right {
                        width: 100%;

                        h3 {
                            font-size: 28px;
                            font-weight: bold;
                            margin-bottom: 5px;
                        }

                        h4 {
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 25px;
                        }

                        p {
                            margin-bottom: 20px;
                        }

                        .download {
                            margin-top: 20px;
                            padding: 15px 35px 15px 35px;
                            border-radius: 40px;
                            border: 1px solid transparent;
                            background-color: $color-dark;
                            cursor: pointer;
                            color: white;
                            box-shadow: 0px 10px 10px 0px rgba($color: $color-dark-shadow, $alpha: 0.5);
                        }

                        .download:hover {
                            border: 1px solid rgba($color: $color-dark, $alpha: 1);
                            box-shadow: 0px 00px 00px 0px rgba($color: $color-dark-shadow, $alpha: 0.5);
                            background-color: white;
                            color: $color-dark;
                            transition: 300ms;
                        }
                    }
                }
            }
        }

        .service {
            padding-top: 110px;
            padding-bottom: 110px;
            width: 100%;
            background-color: $color-primary-2;
            display: flex;
            justify-content: center;

            .content {
                width: 85%;
                height: 100%;

                .content-head {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 80px;

                    h5 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    h3 {
                        font-size: 28px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    p {
                        line-height: 28px;
                        width: 100%;
                    }
                }

                .content-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .card {
                        width: 250px;
                        height: 250px;
                        border: 1px solid rgba($color: $color-dark, $alpha: 0.3);
                        display: flex;
                        border-radius: 5px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        margin-bottom: 20px;
                    }

                    .card:hover {
                        border: 1px solid rgba($color: $color-primary, $alpha: 1);
                        box-shadow: 0px 00px 00px 0px rgba($color: $color-dark-shadow, $alpha: 0.5);
                        background-color: $color-primary;
                        color: white;
                        transition: 400ms;
                    }
                }
            }
        }

        .skill {
            width: 100%;
            display: flex;
            padding-top: 110px;
            padding-bottom: 110px;
            justify-content: center;
            background-color: $color-gray;

            .content {
                width: 85%;
                height: 100%;

                .content-head {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 80px;

                    h5 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    h3 {
                        font-size: 28px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    p {
                        line-height: 28px;
                        width: 100%;
                    }
                }

                .content-body {
                    display: block;

                    .task {
                        display: flex;
                        flex-direction: column;

                        .taskbar {
                            width: 100%;
                            margin-bottom: 30px;

                            .bar {
                                width: 100%;
                                height: 10px;
                                border-radius: 10px;
                                background-color: $color-dark;
                                overflow: hidden;
                                margin-bottom: 10px;

                                .percent {
                                    background-color: $color-primary;
                                    height: 100%;
                                    transition: 800ms;
                                }
                            }

                            .text {
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }
        }

        .portfolio {
            width: 100%;
            display: flex;
            padding-top: 110px;
            padding-bottom: 110px;
            justify-content: center;
            background-color: white;

            .content {
                width: 85%;
                height: 100%;

                .content-head {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 80px;

                    h5 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    h3 {
                        font-size: 28px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    p {
                        line-height: 28px;
                        width: 100%;
                    }
                }

                .content-body {

                    .navigation {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 50px;

                        ul {
                            display: flex;
                            width: 100%;
                            overflow: auto;

                            li {
                                list-style-type: none;
                                color: rgba($color: $color-dark, $alpha: 1);
                                padding: 7px 14px 7px 14px;
                                border: 1px solid rgba($color: $color-dark, $alpha: 1);
                                border-radius: 20px;
                                margin-right: 10px;
                            }

                            li.active {
                                color: white;
                                background-color: $color-primary;
                                border: 1px solid $color-primary;
                                transition: 300ms;
                            }

                            li:hover {
                                color: white;
                                cursor: pointer;
                            }
                        }
                    }

                    .body-portfolio {
                        display: flex;
                        justify-content: center;
                        flex-direction: row;
                        flex-wrap: wrap;

                        .desain {
                            margin-left: 10px;
                            margin-right: 10px;
                            margin-bottom: 20px;
                            width: 100%;
                            // height: 240px;

                            .desain-img {
                                // height: 240px;
                                display: flex;
                                justify-content: center;

                                img {
                                    width: 100%;
                                }

                                .menu {
                                    display: none;
                                    position: absolute;
                                    justify-content: center;
                                    align-items: flex-end;
                                    background-color: rgba($color: $color-dark, $alpha: 0.3);
                                    width: 100%;
                                    height: 100%;

                                    .circle {
                                        margin-bottom: 20px;
                                        margin-left: 5px;
                                        margin-right: 5px;
                                        width: 50px;
                                        height: 50px;
                                        background-color: none;
                                        border-radius: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        cursor: pointer;
                                        transition: 0.3s;
                                        border: 1px solid white;
                                    }

                                    .circle:hover {
                                        background-color: $color-primary;
                                        transition: 0.3s;
                                        border: 1px solid transparent;
                                    }
                                }
                            }

                        }

                        .desain:hover {
                            .menu {
                                display: flex;
                                transition: 300ms;
                            }
                        }

                        .web-design {
                            display: block;
                        }

                        .web-design.unActive {
                            display: none;
                        }

                        .app-design {
                            display: block;
                        }

                        .app-design.unActive {
                            display: none;
                        }

                        .uiux {
                            display: block;
                        }

                        .uiux.unActive {
                            display: none;
                        }
                    }

                }

            }
        }

        .testimonial {
            padding-top: 110px;
            padding-bottom: 110px;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $color-gray;

            .content {
                width: 85%;
                height: 100%;

                .content-head {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 80px;

                    h5 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    h3 {
                        font-size: 28px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    p {
                        line-height: 28px;
                        width: 100%;
                    }
                }

                .content-body {
                    height: 60%;

                    .slide {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 80%;

                        .slide-left {
                            display: none;
                            justify-content: center;
                            align-items: center;
                            width: 10%;
                            height: 100%;
                            cursor: pointer;
                        }

                        .slide-center {
                            width: 100%;

                            .card-box {
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                                display: flex;
                                justify-content: center;

                                .card {
                                    width: 100%;
                                    background-color: white;
                                    border-radius: 10px;
                                    box-sizing: border-box;
                                    padding: 30px;
                                    margin-bottom: 30px;
                                    flex-direction: column;
                                    // align-items: center;
                                    text-align: left;

                                    .image {
                                        width: 80px;
                                        height: 80px;
                                        border-radius: 40px;
                                        box-shadow: 0px 10px 10px 0px rgba($color: $color-dark-shadow, $alpha: 0.5);
                                        margin-bottom: 30px;
                                        margin-left: auto;
                                        margin-right: auto;

                                        img {
                                            width: 80px;
                                        }
                                    }

                                    p {
                                        margin-bottom: 30px;
                                    }

                                    h4 {
                                        font-weight: bold;
                                    }

                                }

                                .testimonial-1 {
                                    display: flex;
                                }

                                .testimonial-1.unActive {
                                    display: none;
                                }

                                .testimonial-2 {
                                    display: flex;
                                }

                                .testimonial-2.unActive {
                                    display: none;
                                }

                                .testimonial-3 {
                                    display: flex;
                                }

                                .testimonial-3.unActive {
                                    display: none;
                                }
                            }
                        }

                        .slide-right {
                            display: none;
                            justify-content: center;
                            align-items: center;
                            width: 10%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }

                    .navigation {
                        width: 100%;
                        height: 20%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .circle {
                            width: 8px;
                            height: 8px;
                            border: 1px solid $color-primary;
                            border-radius: 100%;
                            margin-left: 10px;
                            margin-right: 10px;
                            transition: 300ms;
                        }

                        .circle.active {
                            background-color: $color-primary;
                            transition: 300ms;
                        }
                    }
                }
            }
        }

        .hire-banner {
            padding-top: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $color-gray;

            .content {
                width: 85%;
                height: 100%;
                display: flex;
                flex-direction: column;
                background-color: $color-primary;
                color: white;
                padding: 30px;
                box-sizing: border-box;
                border-radius: 20px;

                .content-left {
                    width: 100%;
                    margin-bottom: 30px;

                    h3 {
                        font-size: 24px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 16px;
                    }
                }

                .content-right {
                    width: 100%;

                    button {
                        padding: 15px 35px 15px 35px;
                        border-radius: 40px;
                        border: 1px solid transparent;
                        background-color: white;
                        color: $color-dark;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    button:hover {
                        border: 1px solid rgba($color: white, $alpha: 1);
                        box-shadow: 0px 00px 00px 0px rgba($color: $color-dark-shadow, $alpha: 0.5);
                        background-color: $color-primary;
                        color: white;
                        transition: 300ms;
                    }
                }
            }
        }

        .contact {
            padding-top: 110px;
            padding-bottom: 110px;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $color-gray;

            .content {
                width: 85%;
                height: 100%;

                .content-head {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 80px;

                    h5 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    h3 {
                        font-size: 28px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    p {
                        line-height: 28px;
                        width: 100%;
                    }
                }

                .content-body {
                    .card {
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                        background-color: white;
                        padding: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        box-sizing: border-box;

                        .card-left {
                            width: 100%;

                            h3 {
                                font-weight: bold;
                                font-size: 24px;
                                margin-bottom: 30px;
                            }

                            form {
                                display: flex;
                                flex-direction: column;

                                input {
                                    font-family: 'Poppins';
                                    height: 40px;
                                    margin-bottom: 20px;
                                    border-radius: 15px;
                                    padding: 0px 20px 0px 20px;
                                    margin-bottom: 20px;
                                    border: 1px solid rgba($color: $color-dark, $alpha: 0.1)
                                }

                                textarea {
                                    font-family: 'Poppins';
                                    margin-bottom: 20px;
                                    border-radius: 15px;
                                    padding: 10px 20px 10px 20px;
                                    margin-bottom: 30px;
                                    border: 1px solid rgba($color: $color-dark, $alpha: 0.1)
                                }

                                .send {
                                    width: 200px;
                                    padding: 15px 35px 15px 35px;
                                    border-radius: 40px;
                                    float: right;
                                    border: none;
                                    background-color: $color-dark;
                                    color: white;
                                    box-shadow: 0px 10px 10px 0px rgba($color: $color-dark-shadow, $alpha: 0.5);
                                    font-weight: bold;
                                    cursor: pointer;
                                    border: 1px solid transparent;
                                }

                                .send:hover {
                                    border: 1px solid rgba($color: $color-dark, $alpha: 1);
                                    box-shadow: 0px 00px 00px 0px rgba($color: $color-dark-shadow, $alpha: 0.5);
                                    background-color: white;
                                    color: $color-dark;
                                    transition: 300ms;
                                }
                            }
                        }

                        .line {
                            display: none;
                            width: 1px;
                            height: 350px;
                            background-color: rgba($color: $color-dark, $alpha: 0.1)
                        }

                        .card-right {
                            width: 100%;
                            padding-top: 70px;

                            .information {
                                margin-bottom: 40px;
                                display: flex;
                                cursor: pointer;

                                .img-info {

                                    .circle {
                                        height: 40px;
                                        width: 40px;
                                        border-radius: 30px;
                                        background-color: white;
                                        border: 1px solid rgba($color: $color-dark, $alpha: 0.1);
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        .icon-orange {
                                            display: block;
                                        }

                                        .icon-white {
                                            display: none;
                                        }
                                    }

                                }

                                .text-info {
                                    padding-left: 20px;

                                    h4 {
                                        font-weight: bold;
                                        margin-bottom: 7px;
                                    }

                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }

                            .information:hover {

                                .circle {
                                    background-color: $color-primary;
                                    border: 1px solid $color-primary;
                                    transition: 300ms;

                                    .icon-orange {
                                        display: none;
                                    }

                                    .icon-white {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer {
            padding-top: 110px;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $color-super-dark;
            box-sizing: border-box;

            .content {
                width: 85%;
                height: 100%;
                color: white;

                .content-top {
                    width: 100%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;

                    .content-left {
                        width: 100%;
                        margin-bottom: 50px;

                        h3 {
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 30px;
                        }

                        p {
                            margin-bottom: 30px;
                            font-size: 14px;
                        }

                        .sosial-media {
                            display: flex;

                            .circle {
                                width: 35px;
                                height: 35px;
                                border-radius: 100%;
                                border: 1px solid white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 15px;
                                cursor: pointer;

                                .icon-dark {
                                    display: none;
                                }

                                .icon-white {
                                    display: block;
                                }
                            }

                            .circle:hover {
                                background-color: white;
                                transition: 200ms;

                                .icon-dark {
                                    display: block;
                                }

                                .icon-white {
                                    display: none;
                                }
                            }
                        }
                    }

                    .content-center {
                        margin-bottom: 50px;
                        width: 100%;

                        h3 {
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 30px;
                        }

                        h5 {
                            margin-bottom: 20px;
                            font-size: 14px;
                        }
                    }

                    .content-right {
                        margin-bottom: 50px;
                        width: 100%;

                        h3 {
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 30px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }

                .content-bottom {
                    height: 80px;
                    width: 100%;
                    border-top: 1px solid white;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h5 {
                        font-size: 14px;
                    }
                }
            }
        }


        #desktop {
            display: none;
        }

        #mobile-landscape {
            display: none;
        }

        #tablet {
            display: none;
        }

    }


}